* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Montserrat", "Helvetica", "Arial", sans-serif;
  font-size: 16px;
  line-height: 32px;
  color: #f2f2f2;
  background-color: #080208;
  background-image: url("img/hero-bg.jpg");
  background-repeat: no-repeat;
  background-position: top center;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 928px;
  margin: 0 auto;
  padding: 0 16px;
}

.container--wide {
  max-width: 1408px;
}

.contacts-info-row {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.text-center {
  text-align: center;
}

.page-header {
  margin: 0 0 180px;
  padding: 32px 0 32px;
}

.page-header a {
  margin-left: 56px;
  color: #fea18d;
  text-decoration: none;
  background-repeat: no-repeat;
  background-position: left;
  white-space: nowrap;
}

.header-email {
  padding-left: 30px;
  background-image: url("img/icon-email.svg");
}

.header-phone {
  padding-left: 25px;
  background-image: url("img/icon-phone.svg");
}

.hero-image {
  margin-bottom: 480px;
}

.heading {
  margin: 0 0 24px;
  font-size: 80px;
  line-height: 1.2;
}

.heading-sm {
  font-size: 32px;
  margin: 0;
  line-height: 48px;
}

.intro {
  margin: 0 0 120px;
}

.subheading {
  margin: 0 0 56px;
  font-size: 56px;
  line-height: 80px;
  text-align: center;
}

.user-image {
  margin: 0 0 32px;
  text-align: center;
}

.intro h3,
.portfolio h3 {
  margin: 0 0 12px;
  font-size: 28px;
  line-height: 40px;
  font-weight: 500;
}

.intro p {
  margin: 0 0 32px;
}

.skills-list {
  margin: 0;
  padding: 0;
}

.skills-list dt {
  padding-left: 32px;
  background-repeat: no-repeat;
  background-position: left;
}

.skill-html {
  background-image: url("img/icon-html.svg");
}

.skill-css {
  background-image: url("img/icon-css.svg");
}

.level {
  margin: 4px 0 16px;
  padding: 0;
  height: 14px;
  font-size: 0;
  background-color: #080208;
  border: 1px solid #712073;
  border-radius: 8px;
}

.level div {
  margin: 1px;
  height: 12px;
  background-color: #fea18d;
  border-radius: 6px;
}

.portfolio {
  margin: 0 0 120px;
}

.projects {
  margin: 0;
  padding: 0;
  list-style: none;
}

.projects li {
  margin: 0 0 80px;
}

.project-image {
  margin: 0 0 24px;
  text-align: center;
}

.projects p {
  margin: 0 0 24px;
}

.button {
  padding: 6px 20px;
  display: inline-block;
  vertical-align: baseline;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 4px;
  background-color: #712073;
  color: #ffffff;
  margin: 20px 0;
}

.page-footer {
  padding: 40px 0;
  background-color: #260c26;
}

.page-footer a {
  margin-left: 56px;
  color: #fea18d;
  text-decoration: none;
  background-repeat: no-repeat;
  background-position: left;
}

.footer-email {
  padding-left: 30px;
  background-image: url("img/icon-email.svg");
}

.footer-phone {
  padding-left: 25px;
  background-image: url("img/icon-phone.svg");
}

@media (max-width: 576px) {
  .contacts-info-row {
    justify-content: center;
  }

  .page-header a {
    margin: 0 20px;
  }

  .heading {
    font-size: 40px;
  }
  .heading-sm {
    font-size: 25px;
  }

  .subheading {
    font-size: 35px;
  }

  .button {
    padding: 15px 50px;
  }

  .hero-image {
    margin-bottom: 300px;
  }
}